.cell {
  border: 2px solid #bbb;
  width: 100%;
  text-align: center;
  height: calc(70vw / 9);
  width: calc(70vw / 9);
  background: #eee;
}

@media (min-width: 896px) {
  .cell {
    height: min(calc(45vw / 9), 75px);
    width: min(calc(45vw / 9), 75px);
  }
}
