:host {
  width: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
}

.timer {
  text-align: center;
  margin-top: 1rem;
  display: inline-block;
  width: 100%;
}
