:host {
  width: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
}

.timer {
  text-align: center;
  margin-top: 1rem;
  display: inline-block;
  width: 100%;
  color: var(--color-secondary);
  font-size: 1.5rem;
}

.errors {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
}

@media (min-width: 640px) {
  .errors,
  .timer {
    margin-top: 2rem;
  }
  .errors {
    font-size: 1.5rem;
  }
}
