:host {
  width: auto;
  border: 4px solid black;
  margin-bottom: 2rem;
  background-color: #eee;
}

@media (min-width: 640px) {
  :host {
    margin-bottom: 4rem;
  }
}

@media (min-width: 896px) {
  :host {
    margin-bottom: 0rem;
  }
}
