/*
  Josh Comeau's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  font-family: "Kameron", serif;
  --color-primary: hsl(240deg, 100%, 35%);
  --color-primary-soft: hsl(240deg, 100%, 35%, 50%);
  --color-primary-muted: hsl(225deg, 100%, 25%);

  --color-secondary: hsl(164deg, 100%, 36%);
  --color-secondary-soft: hsl(164deg, 100%, 36%, 50%);
  --color-secondary-muted: hsl(164deg, 100%, 25%);

  --color-accent: hsl(330deg, 100%, 50%);
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
  box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 25%);
}
